$accent: #8d8d8d;
$title:#1D1D1F;
$gedget-nav:#333333;
%SFProDisplay-600 {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
}

%SFProDisplay-500 {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
}

%SFProDisplay-400 {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
}

%SFProDisplay-300 {
    font-family: 'SFProDisplay-Light', sans-serif;
    font-weight: 300;
}